<div class="background_signup">
  <div class="sign_up">
  <%= image_tag "wroteit.png", id: "logos"%><br>
   <%= form_for @user do |f| %>
    <h1 class="h3 mb-3 font-weight-normal">Sign Up!</h1>
    <p> Username: </p>
    <%= f.text_field :username%><br>
    <p> Password: </p>
    <%= f.password_field :password %><br>
    <p> Confirm Password: </p>
    <%= f.password_field :password_confirmation %><br>
    <hr>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up!</button>
   <% end %>
 </div>
</div>
