<div class='jumbotron text-left clearfix'>
  <h1><%=@user.username%> - <%= @user.email %></h1>
  <%= button_tag(type: 'submit', class: "btn btn-light") do %>
    <i class="icon-ok icon-white"><%= link_to "Edit User", edit_user_path(@user) %></i>
  <% end %>
  <div class="search-box">
  </div>
</div>

<div class="post-shell">
<% if @user.posts  %>
  <h3>Posts</h3>
    <ul>
    <% @user.posts.each do |post| %>
      <li> <%= link_to post.title, post %> </li>
    <% end %>
    </ul>
<% end %>
</div>
