<h1><%= @user.username%></h1>
<h3>Email: <%= @user.email %></h3>

<% if flash[:success] %>
  <h2>Success</h2>
  <p><%= flash[:success] %></p>
<% end %>

<% if @user.posts  %>
<h3>Posts</h3>
<ul>
  <% @user.posts.each do |post| %>
  <li> <%= link_to post.title, post %> </li>
  <% end %>
</ul>
<% end %>

<hr>
<%= link_to "Back to All Users", users_path %> || <%= link_to "Edit User", edit_user_path %>
