<div class='jumbotron text-center'><h1>Tags:</h1></div>
<div class="container-fluid">

  <ul>
    <%= form_tag tags_path, method: "get" do %>
      <%= label_tag :q, "Search Tags:" %><br>
      <br>
      <%= text_field_tag :search, params[:search] %><br>
      <br>
      <%= submit_tag "Search" %>
    <% end %> <br>
  </ul>

  <ul>
    <% @tags.each do |tag| %>
    <li>
      <%= link_to tag.name, tag %>
    </li>
    <% end %>
  </ul>
  <hr>
</div>
