<div class='jumbotron text-left clearfix'>
  <h1>All Posts</h1>
  <%= button_tag(type: 'submit', class: "btn btn-light") do %>
    <i class="icon-ok icon-white"><%= link_to "Create Post", new_post_path %></i>
  <% end %>
  <div class="search-box">
    <%= form_tag posts_path, method: "get" do %>
      <%= text_field_tag :search, params[:search], placeholder: "e.g. sports" %>
      <%= submit_tag "Filter Posts" %>
    <% end %>
  </div>
</div>

<%= render '/forms/posts' %>
